<header>
    <!-- <h6>{{ titulo }}</h6> -->
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Un café de calidad para cada día</span>
        <span class="site-heading-lower">Café Mío</span>
    </h1>
</header>
