<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}
        {{> nav}}
        
        <!--inicio titulo login-->
        <section class="cta bg-faded text-center rounded">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner">
                            <h2>Que bueno que estés por aquí</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--fin titulo login-->
        <!--inicio crear una cuenta-->
        <section class=" container login_part section_padding text-faded">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 page-section">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2 class="section-heading">¿Nuevo en nuestra tienda?</h2>
                                <p>Al crear una cuenta, podrás comprar más rápido, estar actualizado sobre el estado de un pedido y realizar un seguimiento de los pedidos que has realizado anteriormente.</p>
                                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Crear una cuenta</a></div>
                            </div>
                        </div>
                    </div>
        <!--fin crear una cuenta-->
        <!--inicio loguearte-->
                    <div class="col-lg-6 col-md-6 text-center page-section">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3 class="section-heading">Bienvenido de nuevo ! <br>
                                  Iniciar sesión</h3>
                                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                    <div class="col-md-12 form-group p_star m-2">
                                        <input type="text" class="form-control" id="name" name="name" value=""
                                            placeholder="Usuario">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control m-2" id="password" name="password" value="" placeholder="Contraseña">
                                    </div>
                                    <div class="col-md-12 form-group m-2 sm-text-center">
                                        <div class="d-flex align-items-center m-1">
                                            <input type="checkbox" id="f-option" name="selector">
                                            <label for="f-option">Recuérdame</label>
                                        </div>
                                        <div class="intro-button intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Iniciar sesión</a></div>
                                        <a class="align-items-center text-center m-sm-2 text-decoration-none" href="#">¿Olvidaste tu contraseña?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        <!--fin loguearte-->
                </div>
            </div>
        </section>
        {{> footer}}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
