<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> header}}
    {{> nav}}

    <div class="bg-faded cta-inner container">
        <h3 class="section-heading-upper-producto text-center">¿Qué categoría de productos vas a elegir hoy?</h3>
    </div>

    <!--voy a probar algo de otra plantilla-->
    <section class="py-1">
        <div class="container px-2 my-2">
            <div class="row gx-3">

                <!--producto1-->
                <div class="col-lg-4 mb-2">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="assets/img/products-01.jpg" alt="..." />

                        <div class="bg-faded p-2 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper-producto">El arte de Blendear</span>
                                <span class="section-heading-lower-producto">Cafés y tés</span>
                            </h2>
                        </div>

                        <div class="card-body p-2">
                            <h5 class="card-title mb-3">Tazas de café de Especialidad</h5>
                            <p class="card-text mb-0">Estamos orgullosos de nuestro trabajo, y se nota. Cada vez que nos pedis una bebida, te garantizamos que será una experiencia que vale la pena tener. Ya sea nuestro capuchino venezolano de fama mundial, un refrescante té de hierbas helado o algo tan simple como una taza de café negro especial, regresarás por más.</p>
                        </div>

                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <a class="text-decoration-none link-dark" href="/producto1">
                                <div class="justify-content-evenly">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
                                            <path
                                                d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z" />
                                        </svg>   
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <h6>Comprar</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        

                    </div>
                </div>

                <!--producto2-->
                <div class="col-lg-4 mb-2">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="assets/img/products-02.jpg" alt="..." />

                        <div class="bg-faded p-2 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper-producto">Deliciosa repostería</span>
                                <span class="section-heading-lower-producto">Panadería y Gastronomía</span>
                            </h2>
                        </div>

                        <div class="card-body p-2">
                                <h5 class="card-title mb-3">Croissant</h5>
                            <p class="card-text mb-0">Nuestro menú de temporada incluye deliciosos refrigerios,
                                productos horneados e incluso comidas completas perfectas para el desayuno o el
                                almuerzo.Obtenemos nuestros ingredientes de granjas orgánicas locales siempre que sea
                                posible, junto con proveedores premium de productos especiales..</p>
                        </div>

                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <a class="text-decoration-none link-dark" href="#!">
                                <div class="justify-content-evenly">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            fill="currentColor" class="bi bi-handbag" viewBox="0 0 16 16">
                                            <path
                                                d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z" />
                                        </svg>   
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <h6>Comprar</h6>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <!--producto3-->

                <div class="col-lg-4 mb-2">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="assets/img/products-03.jpg" alt="..." />

                        <div class="bg-faded p-2 rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper-producto">De todo el Mundo</span>
                                <span class="section-heading-lower-producto">Mezclas especiales a granel</span>
                            </h2>
                        </div>

                        <div class="card-body p-2">
                            <h5 class="card-title mb-3">Variedad de productos a granel</h5>
                            <p class="card-text mb-0">Viajar por el mundo en busca de café de la mejor calidad es algo
                                de lo que
                                nos enorgullecemos. Cuando nos visite, siempre encontrará nuevas mezclas de todo el
                                mundo, principalmente de las regiones de América Central y del Sur. Vendemos nuestras
                                mezclas en cantidades a granel pequeñas o grandes. <b>Por favor visitanos en persona
                                    para más detalles.</b><br> Nuestros granos de café son 100% puros, de máxima
                                calidad, respetando las cualidades de origen.</p>
                        </div>
                        <div class="card-footer p-2 pt-0 bg-transparent border-top-0">
                            <div class="">

                                <p><em>Contactanos </em>(317) 585-8468 - Santa Fe, Argentina</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <!--


        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">El arte de Blendear</span>
                                <span class="section-heading-lower">Cafés y tés</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="assets/img/products-01.jpg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">Estamos orgullosos de nuestro trabajo, y se nota. Cada vez que nos pedis una
                                bebida, te garantizamos que será una experiencia que vale la pena tener. Ya sea nuestro
                                capuchino venezolano de fama mundial, un refrescante té de hierbas helado o algo tan
                                simple como una taza de café negro especial, regresarás por más.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Deliciosa repostería, Buena comida</span>
                                <span class="section-heading-lower">Panadería y Gastronomía</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="assets/img/products-02.jpg" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">Nuestro menú de temporada incluye deliciosos refrigerios, productos
                                horneados e incluso comidas completas perfectas para el desayuno o el almuerzo.
                                Obtenemos nuestros ingredientes de granjas orgánicas locales siempre que sea posible,
                                junto con proveedores premium de productos especiales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">De todo el Mundo</span>
                                <span class="section-heading-lower">Mezclas especiales a granel</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="assets/img/products-03.jpg" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">Viajar por el mundo en busca de café de la mejor calidad es algo de lo que
                                nos enorgullecemos. Cuando nos visite, siempre encontrará nuevas mezclas de todo el
                                mundo, principalmente de las regiones de América Central y del Sur. Vendemos nuestras
                                mezclas en cantidades a granel pequeñas o grandes. <b>Por favor visitanos en persona
                                    para más detalles.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


-->

    {{> footer}}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>