<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}
        {{> nav}}
        <!--comienza un section-->
        
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/bg.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">¿cómo comprar?</span>
                            <span class="section-heading-lower mt-1">whatsapp (317) 585-8468</span>
                        </h2>
                        <p class="mb-3"><em>El café te encontrará donde estés: </em> Tan simple cómo envíar un mensaje.<br>Dentro del horario de atención podrás enviarnos tu pedido que te llegará al lugar donde te encuentres. Una vez que lo pruebes, nuestro café será una maravillosa adición a tu rutina matutina diaria, ¡lo garantizamos! Para pedidos a granel el número se encuentra disponible las 24 hs</p>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="page-section cta-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading p-3 mb-5">
                                <span class="section-heading-upper">Contactanos</span>
                                <span class="section-heading-lower">estamos para complacerte</span>
                            </h2>
                            <ul class="list-unstyled list-hours mb-5 mx-auto">
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Domingo
                                    <span class="ms-auto">Cerrado</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Lunes
                                    <span class="ms-auto">7:00 AM a 8:00 PM</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Martes
                                    <span class="ms-auto">7:00 AM a 8:00 PM</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Miércoles
                                    <span class="ms-auto">7:00 AM a 8:00 PM</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Jueves
                                    <span class="ms-auto">7:00 AM a 8:00 PM</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Viernes
                                    <span class="ms-auto">7:00 AM a 8:00 PM</span>
                                </li>
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    Sábado
                                    <span class="ms-auto">9:00 AM a 5:00 PM</span>
                                </li>
                            </ul>
                            <p class="address mb-5">
                                <em>
                                    <strong>Avenida Santa Fe 742</strong>
                                    <br />
                                    Santa Fe, Argentina
                                </em>
                            </p>
                            <p class="mb-0">
                                <small><em>Teléfono de contacto</em></small>
                                <br />
                                (317) 585-8468
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> footer}}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
