<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}
        {{> nav}}

        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Café Fresco</span>
                            <span class="section-heading-lower">Digno de tus mañanas</span>
                        </h2>
                        <p class="mb-3">Cada taza de nuestro café artesanal de calidad comienza con ingredientes seleccionados a mano de origen local. Una vez que lo pruebes, nuestro café será una maravillosa adición a tu rutina matutina diaria, ¡lo garantizamos!</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="/contacto">Contacto</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Nuestro compromiso</span>
                                <span class="section-heading-lower">Contigo</span>
                            </h2>
                            <p class="mb-0">Cuando ingresas a nuestra tienda virtual para comenzar el día, nos dedicamos a brindarte un servicio amable, un entorno acogedor y, sobre todo, excelentes productos elaborados con ingredientes de la más alta calidad. Si no estás satisfecho, hacénoslo saber y haremos todo lo posible para hacer las cosas bien.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        {{> footer}}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
