<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head}}
    </head>
    <body>
        {{> header}}
        {{> nav}}

        <section class="page-section clearfix">

            <section class="page-section">
                <div class="container-lg">
                    <div class="row container-fluid">
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="assets/img/products-02.jpg" alt="..." /></div>
                        <div class="col-md-6 bg-faded p-4">

                           
                                <h2 class="section-heading mb-0">
                                    <span class="section-heading-upper">Deliciosa repostería, Buena comida</span>
                                    <span class="section-heading-upper">Panadería y Gastronomía</span>
                                </h2><br>
                            

                            <h4 class="section-heading mb-0">Croissant</h4>
                            <div class="fs-5 mb-2">
                                <span>$60.00</span>
                            </div>
                            <p>El Croissant es una pieza de panadería de origen francés. Fue creada en París en el siglo XIX por panaderos locales que se inspiraron de la forma del kifli. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptate!</p>
                            <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Whatsappeanos</a></div>
                            
                        </div>
                    </div>
                </div>
            </section>


        </section>

        {{> footer}}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
